.gridRow > th,
.gridRow > td {
  padding-right: 10px;
  outline: 2px solid grey;
  text-align: left;
}

.rtPriceLower {
  color: red;
}

.rtPriceHigher {
  color: greenyellow;
}

.rtPriceHigher,
.rtPriceLower {
  font-size: calc(100% - 3px);
}