
.prices {
  font-size: clamp(5pt, 5vw, 12pt);
}

.askPrice {
  color: #4fe50b;
}

.bidPrice {
  color: red;
}

.lastPrice {
  font-size: clamp(5pt, calc(100% - 2pt), 12pt);
}

/* Stock quote details */
.descList {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.descField {
  flex-basis: 24%;
  margin: 5px;
  background-color: #202020;
}

.value {
  float: right;
}

.value {
  clear: both;
}

/* Stock transactions */
.buy {
  background-color: #4fe50b;
  
}

.sell {
  background-color: red;
}

.buy,
.sell {
  height: clamp(30px, 10vw, 50px);
  width: clamp(50px, 10vw, 80px);
  color: black;
  font-weight: 800;
}

.quantityInput {
  width: 7em;
}